:root{
    --color-error: red;
    --base-font-size: 1rem;
}


#root {
    width: 90%;
    margin: 0 auto;
}


#boards {
    background-color: green;
}

input[type="text"] {
    border-style: hidden;
    border: 1px solid black;
    border-radius: 2px;
}

input[type="text"].error{
    border: 1px solid var(--color-error);
}

input[type="text"].error {
    content: "The provided field is empty";
    display: block;
    color: var(--color-error);
}

div.error::before {
    content: "The provided field is empty";
    color: var(--color-error);
}

.status-container {
    display: flex;
    flex-wrap: wrap;
    padding: var(--base-font-size);
}

.status-col {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 300px;
}

.invisible {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.add-new-status-button.invisible {

}