#boards {
    background-color: green;
}

input[type="text"] {
    border-style: hidden;
    border: 1px solid black;
    border-radius: 2px;
}

input[type="text"].error{
    border: 1px solid red;
}

input[type="text"].error {
    content: "The provided field is empty";
    display: block;
    color: red;
}

div.error::before {
    content: "The provided field is empty";
    color: red;
}