<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap" rel="stylesheet">
    <title>ProMan</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"
            integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
            crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/89941c44c6.js" crossorigin="anonymous"></script>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>
<body>
<script type="module">

  import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";
  import { boardsManager } from "../static/js/controller/boardsManager.js";

// Create a func in the boardsManager -> export the socket

  const socket = io("http://localhost:5000", {transports: ['websocket', 'polling', 'flashsocket']});

  socket.on("connect", ()=> console.log("Connection established"));

  socket.on("create_b", async (socket)=>{
      await renderPage();
  });

  socket.on("delete_b", async (socket)=>{
      await renderPage();
  })

async function renderPage(){
    const boardHolder = document.querySelector('#root')
    boardHolder.innerHTML = null;
    await boardsManager.loadBoards()
  }

</script>
<nav>
    <div class="wrapper">
        <div class="logo"><span class="logo-first">Pro</span><span class="logo-last">Man</span></div>
        <div class="nav-buttons">
            <button id="create_board" class="nav-button">Add new board</button>
            {% if session['username'] %}
                <button id="create_private_board" class="nav-button">Add private board</button>
                <button id="logout" class="nav-button">Logout</button>
            {% else %}
                <button id="login" class="nav-button">Login</button>
                <button id="register" class="nav-button">Registration</button>
            {% endif %}
        </div>
    </div>
</nav>
<div id="root">

</div>
</body>
</html>
